In [1]:
import pandas as pd
df = pd.read_csv("uang_jajan.csv")
df.head()

            Nama  NPM  Umur  Uang_jajan
0   sandi malika  123    19          10
1  lala lost you  234    18          25
2          tirey  162    16          40
3          diana  174    20           5
4   tiwi pertiwi  456    23          70

In [2]:
inputs = df.drop('NPM',axis='columns')

In [3]:
target = df['NPM']

In [4]:
from sklearn.preprocessing import LabelEncoder
le_Nama = LabelEncoder()
le_Umur = LabelEncoder()
le_Uang_jajan = LabelEncoder()

In [5]:
inputs['Nama_n'] = le_Nama.fit_transform(inputs['Nama'])
inputs['Umur_n'] = le_Umur.fit_transform(inputs['Umur'])
inputs['Uang_jajan_n'] = le_Uang_jajan.fit_transform(inputs['Uang_jajan'])

In [6]:
inputs

               Nama  Umur  Uang_jajan  Nama_n  Umur_n  Uang_jajan_n
0      sandi malika    19          10       7       3             1
1     lala lost you    18          25       4       2             3
2             tirey    16          40       9       0             6
3             diana    20           5       2       4             0
4      tiwi pertiwi    23          70      10       7             9
5             kekey    21          60       3       5             8
6    autumn saputra    22          50       1       6             7
7   anaheim saputri    19          15       0       3             2
8         tiki taka    17          30       8       1             4
9            nicole    18          35       5       2             5
10             niki    19          10       6       3             1

In [7]:
inputs_n = inputs.drop(['Nama','Umur','Uang_jajan'],axis='columns')

In [8]:
inputs_n

    Nama_n  Umur_n  Uang_jajan_n
0        7       3             1
1        4       2             3
2        9       0             6
3        2       4             0
4       10       7             9
5        3       5             8
6        1       6             7
7        0       3             2
8        8       1             4
9        5       2             5
10       6       3             1

In [9]:
target

0     123
1     234
2     162
3     174
4     456
5     789
6     956
7     748
8     912
9     823
10    734
Name: NPM, dtype: int64

In [10]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [11]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [12]:
model.score(inputs_n,target)

1.0

In [13]:
model.predict([[2,1,0]])

c:\Users\heris\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([912], dtype=int64)

In [14]:
model.predict([[2,1,1]])

c:\Users\heris\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([912], dtype=int64)